<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>login</title>
	</head>
	<body>
		<h1>LOGIN</h1>
		<form action='/login' method='post'>
			<div>
				<input id='username' type='email' name='username' placeholder='email' />
				<input
					id='password'
					type='password'
					name='password'
					placeholder='Contraseña'
				/>
				<input id='enviar_datos_login' type='submit' placeholder='Login' />
			</div>
		</form>
		<a href='/signup'>Ir a signup</a>
		<br />
	</body>
</html>